@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--Roboto-font);
}

:root{
  --prima-color: #1b1b1b;
  --section-dark-bg: #222222;
  --section-light: #222222;
  --text-light: "#999";
  --white-color: #fff;
  --black-color: "#000";

  --Bricolage-font: "Bricolage Grotesque", sans-serif;
  --Jost-font: "Jost", sans-serif;
  --Roboto-fonnt: "Roboto", sans-serif;

  --transition-regular: .3s;
  --transition-slow: .6s;
  
}

html, body{
    font-family: var(--Jost-font);
    color: var(--text-light);
    background-color: var(--prima-color);
}
